---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Svelte in Markdown</title>
  </head>
  <body style="display: grid; gap: 1rem">
    <h1>Svelte in Markdown</h1>
    <a href="/components/button">Button Component</a>
    <a href="/components/heroimage">HeroImage Component</a>
  </body>
</html>
