---
const { frontmatter } = Astro.props;
---

<html>
  <!-- ... -->
  <h1>{frontmatter.title}</h1>
  <p>{frontmatter.description}</p>

  <p>Here is how the actual rendered components looks like:</p>
  <slot />
  <!-- Markdown content is injected here -->

</html>
